* {
  margin: 0px;
  border: 0px;
}

.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.animal-card {
  border: solid black 1px;
  width: 300px;
}

.animal-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 300px;
  max-height: 300px;
}

select {
  border: solid black 1px;
}

.roar {
  height: 50px;
  width: 150px;
  justify-content: center;
  text-align: center;
  justify-self: center;
}

.yellow {
  color: yellow;
}

.blue {
  color: rgb(45, 45, 250);
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    font-size: 100%;
  }
  50% {
    font-size: 105%;
  }
  100% {
    font-size: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}